<!DOCTYPE html>
<html>
<head>
	<title>Server Selector</title>
</head>
<body>
	<h1>Select a server to connect to:</h1>
	<form>
		<button type="button" onclick="window.open('/redirect/server1', '_blank')">Server 1</button>
		<button type="button" onclick="window.open('/redirect/server2', '_blank')">Server 2</button>
		<button type="button" onclick="window.open('/redirect/server3', '_blank')">Server 3</button>
		<button type="button" onclick="window.open('/redirect/server4', '_blank')">Server 4</button>
	</form>
</body>
</html>
